body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 4.5em;
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(65, 15, 11, 0.541);
    color: white;
    padding: 17px;
    text-align: center;
}