.vantagens {
    
    h2 {
        font-size: 2.2rem;
        text-align: center;
        align-items: center;
        padding: 30px;
        color: rgb(17, 88, 100);
    }

    #vantagens {
        text-align: center;
        display: flex;
        gap: 20px;
        justify-content: space-around;
        align-items: stretch; /* Garante que os cards tenham a mesma altura */
    }

    #vantagens div {
        background: linear-gradient(to bottom, #c8d3db41, rgba(143, 10, 10, 0.105));
        text-align: center;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 10px;
        flex: 1;
        max-width: 350px; /* Define a largura máxima */
        display: flex;
        flex-direction: column;

        h4{
            font-size: 1.2rem;
            margin: 20px;
            color: rgb(17, 88, 100);
        }

        img {
            width: 100%;
            height: auto;
            max-height: 200px; /* Altura máxima para a imagem */
            object-fit: cover; /* Redimensiona a imagem mantendo sua proporção */
        }

        p {
            padding: 10px 20px;
            font-size: 1rem;
            font-weight: bold;
            color: rgb(57, 95, 102);
        }
    }

    /* Responsividade para diferentes tamanhos de tela */
    @media screen and (max-width: 1024px) {
        #vantagens div {
            max-width: 300px; /* Reduz a largura máxima para telas menores */
        }
    }

    @media screen and (max-width: 768px) {
        #vantagens {
            flex-direction: column; /* Muda para coluna em telas menores */
            align-items: center; /* Centraliza os cards */
        }

        #vantagens div {
            max-width: 100%; /* Largura total */
            margin-bottom: 20px; /* Espaçamento entre os cards */
        }
    }

    @media screen and (max-width: 480px) {
        #vantagens div {
            max-height: none; /* Remove a altura máxima das imagens */
        }
    }
}