.informacoes {
    #informacoes {
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
            background: linear-gradient(to bottom, #657f9153, rgba(103, 89, 144, 0.238));
            padding: 15px;
            margin-bottom: 3em;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 10px;

            h3 {
                font-size: 1.6rem;
                margin-bottom: 10px;
                text-align: center;
                color: rgb(17, 88, 100);
            }

            p {
                line-height: 1.5;
                color: rgb(57, 95, 102);
                font-weight: bold;
                text-align: justify;
            }
        }
    }

    @media screen and (max-width: 768px) {
        #informacoes {
            div {
                padding: 10px;
                h3 {
                    font-size: 1rem;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 0.9rem;
                    margin-bottom: 15px; /* Ajustar a margem inferior para separar do próximo elemento */
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        /* Adiciona a regra para descer a div informacoes */
        #informacoes {
            flex-direction: column; /* Muda a direção do flex para coluna */
            align-items: center; /* Centraliza os elementos */
            margin-top: 20px; /* Adiciona um espaçamento acima da div */
        }

        /* Estiliza cada div dentro de informacoes */
        #informacoes div {
            width: 100%; /* Ocupa toda a largura */
            padding: 15px;
            margin-bottom: 20px; /* Espaçamento entre as divs */
        }
    }

    @media screen and (max-width: 480px) {
        #informacoes {
            div {
                padding: 8px;
                h3 {
                    font-size: 0.9rem;
                    margin-bottom: 4px;
                }
                p {
                    font-size: 0.8rem;
                    margin-bottom: 10px; /* Ajustar a margem inferior para separar do próximo elemento */
                }
            }
        }
    }
}