* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: url('../public/planodefundoGS2.png');
    background-size: cover;
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Adicione consultas de mídia conforme necessário para outros tamanhos de tela */
